* {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.darkBackground {
    background: #353535;
}

img {
    display: block;
}

.returnLink {
    color: darkgrey;
    text-align: center;
}

.edgeCaseRight {
    padding-right: 4px;
}

.edgeCaseLeft {
    padding-left: 4px;
}
